.maps-heading {
    margin-bottom: 100px;
}
@media screen and (max-width:1279.5px) {
   .maps-google_map{
      max-width: 750px;
    }
}
@media screen and (max-width:767.5px) {
.maps-google_map:first-child {
    width: 310px;
  }
  .maps {
    max-width: 420px;
  }
  .maps-heading{
    text-align: center;
  }
}
