.maps-heading {
    margin-bottom: 100px;
}
@media screen and (max-width:1279.5px) {
    iframe {
      width: 750px;
    }
}
@media screen and (max-width:767.5px) {
  iframe {
    width: 310px;
  }
}
