.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
}
.header-heading {
font-family: 'Post No Bills Jaffna SemiBold', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;
}
.header-description {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.12em;
}
.header-list {
 list-style: none;
 display: flex;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.05em;
}
@media  screen and (max-width:767.5px){
    .header-list{
        display: none;
    }
}
.header-list-item:not(:last-child){
    margin-right: 40px;
}
.icon {
    display: none;
    padding: 5px 5px;
    background-color: inherit;
}
@media screen and (max-width:767.5px) {
    .icon {
        display: block;
    }
}
.header-menu__mobile {
    position: relative;
}
.close-menu {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    background:none;
    min-width: 25px;
    margin-left: 90px;
    border-radius: 50%;
}