@import url('http://fonts.cdnfonts.com/css/post-no-bills-jaffna');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #242B33;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
.heading-second-level {
 font-family: 'Playfair Display', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
color: #D4C17F;
}
input {
background: #FFFFFF;
opacity: 0.2;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 27px;
color: #BEBEBE;
text-align: center;
min-width: 255px;
padding: 12px 0px;
}
button {
cursor: pointer;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
line-height: 27px;
text-align: center;
background: #D4C17F;
color: #FFFFFF;
padding: 12px 0px;
min-width: 255px;
border: none;
}